body {
    background-color: #c0d6df;
    font-family: "Nirmala UI", sans-serif;
    margin: 0;
}

form {
    display: contents;
}

label {
    display: contents;
}

hr {
    border: solid #4f6d7a;
}

/* Styling for the header to appear on every page */
.header {
    background: #166088;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.header-text {
    color: #dbe9ee;
    font-size: 30px;
    font-family: "Nirmala UI", sans-serif;
    padding-left: 30px;
}
.header-logo {
    border-radius: 10px;
    width: 10%;
    height: auto;
    min-width: 150px;
    margin-right: 15px;
    margin-left: 15px;
}

.header-icons {
    padding: 1%;
    border-radius: 15%;
    background-color: #c0d6df;
    height: 6vh;
    margin: 3%;
    cursor: pointer;
}

.header-images {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

/* Dark blue button with light text, rounded corners */
.button1 {
    background-color: #166088;
    border: none;
    color: #dbe9ee;
    text-align: center;
    font-family: "Nirmala UI", sans-serif;
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 16px;
    margin: 15px auto;
    cursor: pointer;
}

/* Lighter button for bundle screens */
.button2 {
    background-color: #c0d6df;
    border: none;
    color: #166088;
    text-align: center;
    font-family: "Nirmala UI", sans-serif;
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 16px;
    margin: 15px auto;
    cursor: pointer;
}

/* Flex container for boxes to be compatible with a mobile format */
.box1-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Light blue box with blue border */
.box1 {
    background-color: #dbe9ee;
    color: #166088;
    font-size: large;
    padding: 2%;
    border-style: solid;
    border-radius: 10px;
    border-color: #166088;
    margin: 3%;
    width: 35vw;
    min-width: 550px;
}

/* Grey text input for log in page */
.text-input1 {
    background-color: #4f6d7a;
    color: #dbe9ee;
    font-size: 16px;
    padding: 2%;
}

/* Light blue text input */
.text-input2 {
    background-color: #dbe9ee;
    color: #166088;
    font-size: 16px;
    padding: 2%;
    height: 30px;
    width: 150px;
}

/* Allows a pound sign to always be put before an input */
.input-pound-white {
    position: relative;
}
.input-pound-white input {
    padding-left:18px;
}
.input-pound-white:before {
    position: absolute;
    top: 0;
    content:"\00A3";
    left: 5px;
    color: #dbe9ee;
    padding-top: 6%;
}

.input-pound-blue {
    position: relative;
}
.input-pound-blue input {
    padding-left:18px;
}
.input-pound-blue:before {
    position: absolute;
    top: 0;
    content:"\00A3";
    left: 5px;
    color: #166088;
    font-weight: bold;
    padding-top: 4%;
    font-size: large;
}

/* Grid with 2 columns useful for button layouts */
.grid-2-columns {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2%;
    column-gap: 5%;
    row-gap: 3%;
}

.grid-filters {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2%;
    column-gap: 10%;
    row-gap: 2%;
}

/* Format for p or label to accompany a text input */
.label1 {
    background-color: #c0d6df;
    text-align: center;
    font-size: 16px;
    height: 30px;
    width: 150px;
    padding: 2%;
    display: block;
}

.label2 {
    background-color: #c0d6df;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 150px;
    padding: 2%;
    display: block;
    border: #166088 solid;
}

/* Table for the consumer analytics page - dark blue with borders */
.analytics-table {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #c0d6df;
}

.analytics-table div {
    background-color: #166088;
    border: 1px solid black;
    font-size: 3vmax;
    font-weight: bold;
    text-align: center;
    color: #dbe9ee;
    padding: 2%;
}

/* Table for displaying bundles for reservations */
.bundle-table {
    border-collapse: collapse;
    color: #166088;
    background-color: #dbe9ee;
    font-size: 16px;
    font-weight: bold;
    place-items: center;
    padding: 1%;
}

.bundle-table th, td {
    padding: 10px;
    text-align: center;
    border: solid #166088;
    width: 100px;
}

/* Table for notifications */
.notification-table {
    border-collapse: collapse;
    color: #166088;
    background-color: #dbe9ee;
    font-size: 16px;
    font-weight: bold;
    place-items: center;
    padding: 1%;
}

.notification-table th, td {
    padding: 10px;
    text-align: center;
    border: solid #166088;
}

.notifications-text {
    color: #166088;
    font-size: large;
    font-weight: bold;
}