<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Browse Bundles</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Browse Bundles</h1>
    <div class="header-images">
        <form th:action="@{/dashboard_consumer}"><input class="header-icons" type="image" th:src="@{images/home.png}" src="/static/images/home.png" alt="Home"></form>
        <form th:action="@{/notifications_consumer}"><input class="header-icons" type="image" th:src="@{images/bell.png}" src="/static/images/bell.png" alt="Bell"></form>
        <form th:action="@{/logout}" method="post"><input class="header-icons" type="image" th:src="@{images/logout.png}" src="/static/images/logout.png" alt="logout"></form>
        <img th:src="@{images/roadmap_logo.png}" src="/static/images/roadmap_logo.png" alt="Team Roadmap Logo" class="header-logo">
    </div>
</div>
<div class="box1-parent">
    <div style="width: 60%; margin: 10px; max-height: 70vh; overflow: auto">
        <table class="bundle-table" th:if="${not#lists.isEmpty(allBundles)}">
            <thead>
                <tr>
                    <th>Seller</th>
                    <th>Category</th>
                    <th>Contents</th>
                    <th>Allergens</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Pickup Window</th>
                    <th>Reserve Bundle</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bundle : ${allBundles}">
                    <td th:text="${bundle.seller.dName}">Ex Seller</td>
                    <td th:text="${bundle.category}">Ex Category</td>
                    <td th:text="${bundle.getContentsAsString()}" style="overflow: auto; max-width: 100px">Ex Contents</td>
                    <td th:text="${bundle.getAllergensAsString()}" style="overflow: auto; max-width: 100px">Ex Allergens</td>
                    <td th:text="${bundle.price}">Ex Price</td>
                    <td th:text="${bundle.discount}">Ex Price</td>
                    <td th:text="${bundle.getPickUpWindowAsString()}">Pickup Window</td>
                    <td>
                        <form th:action="@{/browse_bundles_consumer}" method="post">
                            <input type="hidden" th:value="${bundle.postingID}" name="postingID">
                            <button class="button1" style="width:150px; padding: 10px 5px">Reserve Bundle</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box1" style="width: 30%; min-width: 100px; margin: 10px; max-height: 70vh">
        <h2 style="text-align: center">Filter</h2>
    </div>
</div>
<form th:action="@{/dashboard_consumer}">
    <button class="button1" style="width:220px; margin: 5px 20px">Return to Dashboard</button>
</form>
</body>
</html>