<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Edit Profile</title>
    <style>
        ::placeholder {
            color: #dbe9ee;
            opacity: 1;
        }

        p {
            height: 30px;
        }

        input {
            height: 30px;
        }

        label {
            white-space: nowrap;
            margin-right: 100px;
        }

    </style>
</head>
<body>
<div class="header">
    <h1 class="header-text">Edit Profile</h1>
    <img src="../static/roadmap_logo.png" alt="Team Roadmap Logo" class="header-img">
</div>
<form th:action="@{/edit_profile_consumer}" method="post">
    <div class="box1" style="height: 400px; border: none">
        <div class="grid-2-columns" style="row-gap: 5%; float: left; margin: 3%">
            <label for="fname">First Name(s):</label>
            <input class="text-input1" type="text" id="fname" name="fname">
            <label for="sname">Surname:</label>
            <input class="text-input1" type="text" id="sname" name="sname">
            <label for="dname">Display Name:</label>
            <input class="text-input1" type="text" id="dname" name="dname">
            <label for="address_line_1"></label>
            <input class="text-input1" type="text" placeholder="Address Line 1" style="grid-column: span 2; margin-bottom:2%" id="address_line_1" name="address_line_1">
            <label for="postcode"></label>
            <input class="text-input1" type="text" placeholder="Postcode" id="postcode" name="postcode">
            <label for="county"></label>
            <input class="text-input1" type="text" placeholder="County" id="county" name="county">
        </div>
    </div>
    <div class="box1" style="height: 400px; border: none">
        <div class="grid-2-columns" style="row-gap: 5%; float: left; margin: 3%">
            <label for="email">Email Address:</label>
            <input class="text-input1" type="text" id="email" name="email">
            <label for="phone">Phone Number:</label>
            <input class="text-input1" type="text" id="phone" name="phone">
            <label for="password1">Password:</label>
            <input class="text-input1" type="password" id="password1" name="password1">
            <label for="password2">Confirm Password:</label>
            <input class="text-input1" type="password" id="password2" name="password2">
            <input style="height: 20px" type="checkbox" id="accept" name="accept" value="accept">
            <label style="font-size: 10px; height: 20px" for="accept">I accept the terms and conditions</label>
            <button class="button1" type="submit" style="width:250px">Update Account</button>
        </div>
    </div>
</form>
<form th:action="@{/dashboard_consumer}">
    <button class="button1" style="width:250px">Return To Dashboard</button>
</form>
</body>
</html>