<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Post Bundle</title>
    <style>
        body {
            background-color: #4f6d7a;
        }
    </style>
</head>
<body>
<div class="header">
    <h1 class="header-text">Edit Bundle</h1>
    <div class="header-images">
        <form th:action="@{/dashboard_seller}"><input class="header-icons" type="image" th:src="@{images/home.png}" src="/static/images/home.png" alt="Home"></form>
        <form th:action="@{/notifications_seller}"><input class="header-icons" type="image" th:src="@{images/bell.png}" src="/static/images/bell.png" alt="Bell"></form>
        <form th:action="@{/logout}" method="post"><input class="header-icons" type="image" th:src="@{images/logout.png}" src="/static/images/logout.png" alt="logout"></form>
        <img th:src="@{images/roadmap_logo.png}" src="/static/images/roadmap_logo.png" alt="Team Roadmap Logo" class="header-logo">
    </div>
</div>
<div class="box1-parent">
    <form th:action="@{/edit_bundle_seller}" method="post">

        <div class="grid-2-columns" style="margin: 30px">
            <input style="display: none" id="hidden_items" name="hidden_items" th:value="${bundle.getContentsAsString()}" type="text">
            <input style="display: none" id="PostingID" name="PostingID" th:value="${bundle.postingID}">
            <label class="label1" for="category">Food Category</label>
            <select name="category" id="category" class="text-input2">
                <option value="Fish & Meat" th:selected="${bundle.category.equals('Fish & Meat')}">Fish & Meat</option>
                <option value="Bakery" th:selected="${bundle.category.equals('Bakery')}" >Bakery</option>
                <option value="Snacks" th:selected="${bundle.category.equals('Snacks')}" >Snacks</option>
                <option value="Dairy" th:selected="${bundle.category.equals('Dairy')}">Dairy</option>
                <option value="Fruit, Vegetables & Legumes" th:selected="${bundle.category.equals('Fruit, Vegetables & Legumes')}" >Fruit, Vegetables & Legumes</option>
                <option value="Groceries" th:selected="${bundle.category.equals('Groceries')}">Groceries</option>
                <option value="Other" th:selected="${bundle.category.equals('Other')}">Other</option>
            </select>
            <label class="label1" for="price">Price</label>
            <span class="input-pound-blue">
                <input class="text-input2" th:value="${bundle.price}" type="number" id="price" name="price" min="0" step="0.01">
            </span>
            <label class = label1 for="discount">Discount</label>
            <input class="text-input2" th:value="${bundle.discount}" type="number" placeholder="%" id="discount" name="discount" max="100" min="0">
            <label class="label1" for="pickup">Pickup Window</label>
            <select class="text-input2" id="pickup" name="pickup">
                <option value="00:00-01:00" th:selected="${bundle.getPickUpWindowAsString().equals('00:00-01:00')}">00:00-01:00</option>
                <option value="01:00-02:00" th:selected="${bundle.getPickUpWindowAsString().equals('01:00-02:00')}">01:00-02:00</option>
                <option value="02:00-03:00" th:selected="${bundle.getPickUpWindowAsString().equals('02:00-03:00')}">02:00-03:00</option>
                <option value="03:00-04:00" th:selected="${bundle.getPickUpWindowAsString().equals('03:00-04:00')}">03:00-04:00</option>
                <option value="04:00-05:00" th:selected="${bundle.getPickUpWindowAsString().equals('04:00-05:00')}">04:00-05:00</option>
                <option value="05:00-06:00" th:selected="${bundle.getPickUpWindowAsString().equals('05:00-06:00')}">05:00-06:00</option>
                <option value="06:00-07:00" th:selected="${bundle.getPickUpWindowAsString().equals('06:00-07:00')}">06:00-07:00</option>
                <option value="07:00-08:00" th:selected="${bundle.getPickUpWindowAsString().equals('07:00-08:00')}">07:00-08:00</option>
                <option value="08:00-09:00" th:selected="${bundle.getPickUpWindowAsString().equals('08:00-09:00')}">08:00-09:00</option>
                <option value="09:00-10:00" th:selected="${bundle.getPickUpWindowAsString().equals('09:00-10:00')}">09:00-10:00</option>
                <option value="10:00-11:00" th:selected="${bundle.getPickUpWindowAsString().equals('10:00-11:00')}">10:00-11:00</option>
                <option value="11:00-12:00" th:selected="${bundle.getPickUpWindowAsString().equals('11:00-12:00')}">11:00-12:00</option>
                <option value="12:00-13:00" th:selected="${bundle.getPickUpWindowAsString().equals('12:00-13:00')}">12:00-13:00</option>
                <option value="13:00-14:00" th:selected="${bundle.getPickUpWindowAsString().equals('13:00-14:00')}">13:00-14:00</option>
                <option value="14:00-15:00" th:selected="${bundle.getPickUpWindowAsString().equals('14:00-15:00')}">14:00-15:00</option>
                <option value="15:00-16:00" th:selected="${bundle.getPickUpWindowAsString().equals('15:00-16:00')}">15:00-16:00</option>
                <option value="16:00-17:00" th:selected="${bundle.getPickUpWindowAsString().equals('16:00-17:00')}">16:00-17:00</option>
                <option value="17:00-18:00" th:selected="${bundle.getPickUpWindowAsString().equals('17:00-18:00')}">17:00-18:00</option>
                <option value="18:00-19:00" th:selected="${bundle.getPickUpWindowAsString().equals('18:00-19:00')}">18:00-19:00</option>
                <option value="19:00-20:00" th:selected="${bundle.getPickUpWindowAsString().equals('19:00-20:00')}">19:00-20:00</option>
                <option value="20:00-21:00" th:selected="${bundle.getPickUpWindowAsString().equals('20:00-21:00')}">20:00-21:00</option>
                <option value="21:00-22:00" th:selected="${bundle.getPickUpWindowAsString().equals('21:00-22:00')}">21:00-22:00</option>
                <option value="22:00-23:00" th:selected="${bundle.getPickUpWindowAsString().equals('22:00-23:00')}">22:00-23:00</option>
                <option value="23:00-00:00" th:selected="${bundle.getPickUpWindowAsString().equals('23:00-00:00')}">23:00-00:00</option>
            </select>
            <button type="submit" class="button2" style="grid-column: span 2" name="post">Edit Bundle</button>
        </div>

        <div class="box1" style="width: 25%; min-width: 300px; margin: 30px">
            <h2>Allergens</h2>
            <hr>
            <input type="checkbox" th:checked="${bundle.allergens.contains('celery')}" id="celery" name="celery" value="celery">
            <label for="celery">Celery</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('gluten')}" id="gluten" name="gluten" value="gluten">
            <label for="gluten">Cereals containing Gluten</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('crustaceans')}" id="crustaceans" name="crustaceans" value="crustaceans">
            <label for="crustaceans">Crustaceans</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('eggs')}" id="eggs" name="eggs" value="eggs">
            <label for="eggs">Eggs</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('fish')}" id="fish" name="fish" value="fish">
            <label for="fish">Fish</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('lupin')}" id="lupin" name="lupin" value="lupin">
            <label for="lupin">Lupin</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('milk')}" id="milk" name="milk" value="milk">
            <label for="milk">Milk</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('molluscs')}" id="molluscs" name="molluscs" value="molluscs">
            <label for="molluscs">Molluscs</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('mustard')}" id="mustard" name="mustard" value="mustard">
            <label for="mustard">Mustard</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('peanuts')}" id="peanuts" name="peanuts" value="peanuts">
            <label for="peanuts">Peanuts</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('sesame')}" id="sesame" name="sesame" value="sesame">
            <label for="sesame">Sesame</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('soybeans')}" id="soybeans" name="soybeans" value="soybeans">
            <label for="soybeans">Soybeans</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('sulphur')}" id="sulphur" name="sulphur" value="sulphur">
            <label for="sulphur">Sulphur Dioxide / Sulphides</label><br>
            <input type="checkbox" th:checked="${bundle.allergens.contains('nuts')}" id="nuts" name="nuts" value="nuts">
            <label for="nuts">Tree Nuts</label><br>
        </div>

        <div style="width: 25%; min-width: 300px; margin: 30px">
            <div class="box1" style="width: 100%; padding: 5%; height: 40vh; min-width: 300px; margin: 2%; overflow: auto">
                <h2>Contents</h2>
                <hr>
                <div style="font-size: 15px">
                    <ul id="items_list">
                        <li style="margin:10px 0" th:each="content:${bundle.contents}" th:if="${not#strings.isEmpty(content)}" th:value="${content}">
                            <span th:text="${content}" ></span>
                            <button style="float:right;" type="button" onclick="removeItem(this.parentElement)">✖</button>
                        </li>
                    </ul>
                </div>
            </div>
            <label for="item"></label>
            <h5 style="color:#dbe9ee; margin: 5% 5% 1% 5%">Enter new items below:</h5>
            <textarea rows=5 style="resize: none; margin: 0 5% 5% 5%; width: 100%" id="item" name="item"></textarea>
        </div>

    </form>
</div>
<div style="margin: 0 2%">
    <form th:action="@{/dashboard_seller}">
        <button class="button2" style="width: 200px; margin-right: 60%" name="back">Back to Dashboard</button>
    </form>
    <label for="quantity"></label>
    <input class="button2" style="width: 100px" id="quantity" name="quantity" min="1" max="100" value=1 type="number">
    <button class="button2" style="width: 200px" id="add" onclick="addListItem()">Add</button>
</div>

<script type="text/javascript" th:src="@{/js/addItem.js}"></script>

</body>
</html>