<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Error</title>
</head>
<body>
<div class="header">
    <h1 class="header-text"></h1>
    <div class="header-images">
        <a th:href="@{/REPLACE}"><img th:src="@{images/home.png}" alt="Home" class="header-icons"></a>
        <a th:href="@{/sign_in}"><img th:src="@{images/logout.png}" alt="Logout" class="header-icons"></a>
        <img th:src="@{images/roadmap_logo.png}" alt="Team Roadmap Logo" class="header-logo">
    </div>
</div>
<p style="text-align: center; margin-top: 30px; font-size: 20px; color: #166088; font-weight: bold">Something went wrong</p>
<img src="" alt=""/>
</body>
</html>