<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Error</title>
</head>
<body>
<div class="header">
    <h1 class="header-text"></h1>
    <div class="header-images">
        <form th:action="@{/error}"><input class="header-icons" type="image" th:src="@{images/home.png}" src="/static/images/home.png" alt="Home"></form>
        <form th:action="@{/logout}" method="post"><input class="header-icons" type="image" th:src="@{images/logout.png}" src="/static/images/logout.png" alt="logout"></form>
        <img th:src="@{images/roadmap_logo.png}" src="/static/images/roadmap_logo.png" alt="Team Roadmap Logo" class="header-logo">
    </div>
</div>
<p style="text-align: center; margin-top: 30px; font-size: 20px; color: #166088; font-weight: bold">Something went wrong</p>
<img src="" alt=""/>
</body>
</html>