<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Forecasting</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Forecasting</h1>
    <img th:src="@{images/roadmap_logo.png}" alt="Team Roadmap Logo" class="header-img">
</div>
<div class="box1-parent">
    <div class="box1" style="width: 38%">
        <h2>Forecasting</h2>
        <p>View your forecasting predictions here. <br>The currently available predictions include how many bundles to post, based on the filters of your choosing on the date, time and category, and how many reservations are expected to be made using the same filters.
        <br>Our calculations are provided using a baseline produced using seasonal naive, which takes your previous week's data and projects this onto the following week.</p>
    </div>
    <div class="box1" style="width: 38%">
        <h2>Explanation</h2>
    </div>
</div>
</body>
</html>