<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Forecasting</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Forecasting</h1>
    <img src="../static/roadmap_logo.png" alt="Team Roadmap Logo" class="header-img">
</div>
<div style="display: flex; flex-wrap: wrap">
    <div class="box1" style="width: 38%">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et vehicula risus. Morbi vel lacus a est commodo porta in mollis ipsum. Morbi cursus enim massa, in vehicula mauris tincidunt eu. Vestibulum pulvinar eu magna at condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin euismod dolor libero, a congue mi maximus nec. Nunc id viverra ligula, sit amet venenatis augue. Nunc massa tortor, aliquet non libero in, imperdiet feugiat sem. In a enim eget nunc varius tempor. Sed nulla nisl, bibendum eget ultricies eu, posuere quis dolor. Aliquam erat volutpat. Integer pretium urna in nisl condimentum, vel ultrices libero dignissim. Suspendisse eu arcu rhoncus, interdum lorem eu, tempus dui. Morbi at lacinia mauris. Morbi convallis, nibh quis eleifend porttitor, ante sem bibendum diam, et mollis tortor felis at enim.</p>
    </div>
    <div class="box1" style="width: 38%">
        <h2>Explanation</h2>
    </div>
</div>
</body>
</html>