<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Forecasting</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Forecasting</h1>
    <div class="header-images">
        <a th:href="@{/dashboard_seller}"><img th:src="@{images/home.png}" alt="Home" class="header-icons"></a>
        <a th:href="@{/notifications}"><img th:src="@{images/bell.png}" alt="Bell" class="header-icons"></a>
        <form th:action="@{/logout}" method="post"><input class="header-icons" type="image" th:src="@{images/logout.png}" alt="logout"></form>
        <img th:src="@{images/roadmap_logo.png}" alt="Team Roadmap Logo" class="header-logo">
    </div>
</div>
<div class="box1-parent">
    <div class="box1" style="width: 38%">
        <h2>Forecasting</h2>
        <p>Baseline MAE set for checking current data and for Category1</p>
        <p th:text="${mae}"></p>
    </div>
    <div class="box1" style="width: 38%">
        <h2>Explanation</h2>
    </div>
</div>
<form th:action="@{/dashboard_seller}">
    <button class="button1" style="width:220px; margin: 5px 20px">Return to Dashboard</button>
</form>
</body>
</html>