<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Manage Bundles</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Manage Bundles</h1>
    <img src="../static/roadmap_logo.png" alt="Team Roadmap Logo" class="header-img">
</div>
<div class="box1" style="width: 50%; min-width: 500px">
    <table th:if="${not#lists.isEmpty(reservedBundles)}" style="column-width: 200px">
        <thead>
        <tr>
            <th>Seller</th>
            <th>Price</th>
            <th>Pickup Window</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bundle : ${reservedBundles}">
            <td th:text="${bundle.seller}">Ex Seller</td>
            <td th:text="${bundle.price}">Ex Price</td>
            <td th:text="${bundle.pickUpWindow}">Pickup Window</td>
            <td>
                <a th:href="@{/report_issue_consumer}">Report An Issue</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/dashboard_consumer}" class="box1">
    <button class="button1" style="width:220px">Return to Dashboard</button>
</form>
</body>
</html>