<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Manage Bundles</title>

    <style>
        th, td {
            width: 150px;
        }
    </style>

</head>
<body>
<div class="header">
    <h1 class="header-text">Manage Bundles</h1>
    <img th:src="@{images/roadmap_logo.png}" alt="Team Roadmap Logo" class="header-img">
</div>
<div style="margin: 1%; max-height: 70vh; overflow: auto">
    <table class="bundle-table" th:if="${not#lists.isEmpty(reservations)}">
        <thead>
            <tr>
                <th>Seller</th>
                <th>Price</th>
                <th>Category</th>
                <th>Contents</th>
                <th>Allergens</th>
                <th>Pickup Window</th>
                <th>Claim Code</th>
                <th>Collected</th>
                <th>No Show</th>
                <th>Report an Issue</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reservation : ${reservations}">
                <td th:text="${reservation.bundle.seller.dName}">Ex Seller</td>
                <td th:text="${reservation.bundle.price}">Ex Price</td>
                <td th:text="${reservation.bundle.category}">Ex category</td>
                <td th:text="${reservation.bundle.getContentsAsString()}" style="overflow: auto; max-width: 140px">Ex contents</td>
                <td th:text="${reservation.bundle.getAllergensAsString()}" style="overflow: auto; max-width: 140px">Ex allergens</td>
                <td th:text="${reservation.bundle.getPickUpWindowAsString()}">Pickup Window</td>
                <td th:text="${reservation.claimCode}">Claim Code</td>
                <td th:text="${reservation.collected}">Collected</td>
                <td th:text="${reservation.noShow}">No Show</td>
                <td>
                    <form th:action="@{/report_issue_consumer}" method="get">
                        <input type="hidden" name="reservationID" th:value="${reservation.reservationID}">
                        <button class="button1" style="width:150px; padding: 10px 5px; margin:0">Report</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<form th:action="@{/dashboard_consumer}" class="box1">
    <button class="button1" style="width:220px; margin: 5px 20px">Return to Dashboard</button>
</form>
</body>
</html>