<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>ToS</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Private Policy</h1>
    <img src="../static/roadmap_logo.png" alt="Team Roadmap Logo" class="header-img">
</div>
<div class="box1" style="width: 90%">
    <h1>Private Policy (Consumer)</h1>

    <form th:action="@{/sign_up_seller}">
        <button class="button1" style="width:250px">Return To Sign Up</button>
    </form>

    <h3>Effective Date: 12/02/2026</h3>
    <p>Team Roadmap Waste Management (the "Site") is owned and operated by Team Roadmap. Team Roadmap is the data controller.<br></p>
    <p>The purpose of this privacy policy (this "Privacy Policy") is to inform users of our Site of the following:</p>
    <ol>
        <li>The personal data we will collect;</li>
        <li>Use of collected data;</li>
        <li>Who has access to the data collected; and</li>
        <li>The rights of Site users.</li>
        <li>This Privacy Policy applies in addition to the terms and conditions of our Site.</li>
    </ol>

    <h3>GDPR</h3>
    <p>For users in the United Kingdom, we adhere to the GDPR as enshrined in the Data Protection Act 2018.</p>
    <p>We have not appointed a Data Protection Officer as we do not fall within the categories of controllers and processors required to appoint a Data Protection Officer under Article 37 of the GDPR.</p>

    <h3>Consent</h3>
    <p>By using our Site users agree that they consent to:</p>
    <ul><li>The conditions set out in this Privacy Policy.</li></ul>
    <p>When the legal basis for us processing your personal data is that you have provided your consent to that processing, you may withdraw your consent at any time. If you withdraw your consent, it will not make processing which we completed before you withdrew your consent unlawful.</p>
    <p>You can withdraw your consent by contacting the Website Owners.</p>

    <h3>Legal Basis for Processing</h3>
    <p>We collect and process personal data about users in the EU only when we have a legal basis for doing so under Article 6 of the GDPR.</p>
    <p>We rely on the following legal basis to collect and process the personal data of users in the EU:</p>
    <ul><li>Users have provided their consent to the processing of their data for one or more specific purposes.</li></ul>

    <h3>Personal Data We Collect</h3>
    <p>We only collect data that helps us achieve the purpose set out in this Privacy Policy. We will not collect any additional data beyond the data listed below without notifying you first.</p>

    <h3>Data Collected in a Non-Automatic Way</h3>
    <p>We may also collect the following data when you perform certain functions on our Site:</p>
    <ul>
        <li>First and last name;</li>
        <li>Email address;</li>
        <li>Phone number; and</li>
        <li>Address.</li>
    </ul>
    <p>This data may be collected using the following methods:</p>
    <ul><li>Creating an account</li></ul>

    <h3>How We Use Personal Data</h3>
    <p>Data collected on our Site will only be used for the purposes specified in this Privacy Policy or indicated on the relevant pages of our Site. We will not use your data beyond what we disclose in this Privacy Policy.</p>

    <h3>Who We Share Personal Data With</h3>
    <p>We may disclose user data to any member of our organisation who reasonably needs access to user data to achieve the purposes set out in this Privacy Policy.</p>

    <h3>Other Disclosures</h3>
    <p>We will not sell or share your data with other third parties, except in the following cases:</p>
    <ol>
        <li>If the law requires it;</li>
        <li>If it is required for any legal proceeding; and</li>
        <li>To prove or protect our legal rights</li>
    </ol>

    <h3>How Long We Store Personal Data</h3>
    <p>User data will be stored until the purpose the data was collected for has been achieved.</p>
    <p>You will be notified if your data is kept for longer than this period.</p>

    <h3>How we protect your personal data</h3>
    <p>While we take all reasonable precautions to ensure that user data is secure and that users are protected, there always remains the risk of harm. The Internet as a whole can be insecure at times and therefore we are unable to guarantee the security of user data beyond what is reasonably practical.</p>

    <p>Your rights as a user</p>
    <p>Under the GDPR, you have the following rights:</p>
    <ol>
        <li>Right to be informed;</li>
        <li>Right of access</li>
        <li>Right to rectification</li>
        <li>Right to erasure</li>
        <li>Right to restrict processing</li>
        <li>Right to data portability; and</li>
        <li>Right to object</li>
    </ol>

    <h3>Children</h3>
    <p>The minimum age to use our website is 16 years of age. We do not knowingly collect or use personal data from children under 16 years of age. If we learn that we have collected personal data from a child under 16 years of age, the personal data will be deleted as soon as possible. If a child under 16 years of age has provided us with personal data their parent or guardian may contact us.</p>

    <h3>How to Access, Modify, Delete, or Challenge the Data Collected</h3>
    <p>If you would like to know if we have collected your personal data, how we have used your personal data, if we have disclosed your personal data and to who we disclosed your personal data, if you would like your data to be deleted or modified in any way, or if you would like to exercise any of your other rights under the GDPR, please contact us.</p>

    <h3>Modifications</h3>
    <p>This Privacy Policy may be amended from time to time in order to maintain compliance with the law and to reflect any changes to our data collection process. When we amend this Privacy Policy we will update the "Effective Date" at the top of this Privacy Policy. We recommend that our users periodically review our Privacy Policy to ensure that they are notified of any updates. If necessary, we may notify users by email of changes to this Privacy Policy.</p>
</div>
</body>
</html>