<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Report Issue</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Report Issue</h1>
    <div class="header-images">
        <a th:href="@{/dashboard_consumer}"><img th:src="@{images/home.png}" alt="Home" class="header-icons"></a>
        <a th:href="@{/notifications}"><img th:src="@{images/bell.png}" alt="Bell" class="header-icons"></a>
        <a th:href="@{/sign_in}"><img th:src="@{images/logout.png}" alt="Logout" class="header-icons"></a>
        <img th:src="@{images/roadmap_logo.png}" alt="Team Roadmap Logo" class="header-logo">
    </div>
</div>
</body>
</html>