<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Report Issue</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Report Issue</h1>
    <div class="header-images">
        <form th:action="@{/dashboard_consumer}"><input class="header-icons" type="image" th:src="@{images/home.png}" src="/static/images/home.png" alt="Home"></form>
        <form th:action="@{/notifications_consumer}"><input class="header-icons" type="image" th:src="@{images/bell.png}" src="/static/images/bell.png" alt="Bell"></form>
        <form th:action="@{/logout}" method="post"><input class="header-icons" type="image" th:src="@{images/logout.png}" src="/static/images/logout.png" alt="logout"></form>
        <img th:src="@{images/roadmap_logo.png}" src="/static/images/roadmap_logo.png" alt="Team Roadmap Logo" class="header-logo">
    </div>
</div>
<div class="box1">
    <label for="bundleTable">Problem Bundle</label>
    <table id="bundleTable" th:if="${not#lists.isEmpty(bundle)}">
        <thead>
        <tr>
            <th>Seller</th>
            <th>Price</th>
            <th>Category</th>
            <th>Contents</th>
            <th>Allergens</th>
            <th>Pickup Window</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bundle">
            <td th:text="${bundle.seller.dName}">Ex Seller</td>
            <td th:text="${bundle.price}">Ex Price</td>
            <td th:text="${bundle.category}">Ex category</td>
            <td th:text="${bundle.getContentsAsString()}" style="overflow: auto; max-width: 140px">Ex contents</td>
            <td th:text="${bundle.getAllergensAsString()}" style="overflow: auto; max-width: 140px">Ex allergens</td>
            <td th:text="${bundle.getPickUpWindowAsString()}">Pickup Window</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="box1">
    <form th:action="@{/report_issue_consumer}" method="post" autocomplete="off">
        <input type="hidden" name="reservationID" th:value="${reservationID}">

        <label for="Issue">Complaint:</label>
        <textarea
                name="description"
                id="Issue"
                placeholder="Enter the details of your complaint here"
                maxlength="600"
                rows="6"
                cols="70"
                required
                ></textarea>
        <label for="type">Issue Type:</label>
        <select required name="type" id="type">
            <option>Didn't arrive</option>
            <option>Took too long</option>
            <option>Food was cold</option>
            <option>Not as described</option>
        </select>
        <button type="submit" class="button1">Submit your complaint.</button>
    </form>
</div>
<form th:action="@{/dashboard_consumer}">
    <button class="button1" style="width:250px; margin-left: 5%">Return To Dashboard</button>
</form>
</body>
</html>