<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Sign In</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Team Roadmap - Waste Management</h1>
    <img src="../static/roadmap_logo.png" alt="Team Roadmap Logo" class="header-img">
</div>
<div class="box1">
    <h2>Our Mission</h2>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis felis purus, ut tincidunt elit condimentum non.</li>
        <li>Cras convallis blandit lorem, non laoreet neque sodales ornare. Ut nec faucibus ligula. </li>
    </ul>
</div>
<div class="box1">
    <h2>Sign Up or Login</h2>
    <form>
        <p>Username:</p>
        <input class="text-input1" type="text">
        <p>Password:</p>
        <input class="text-input1" type="password">
    </form>
    <button class="button1" style="margin: 50px">Login</button>
    <br>
    <button class="button1" style="width:250px">Create Customer Account</button>
    <button class="button1" style="width:250px">Create Seller Account</button>
</div>
</body>
</html>