<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Sign Up</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Sign Up as Consumer</h1>
    <img src="../static/roadmap_logo.png" alt="Team Roadmap Logo" class="header-img">
</div>
<div class="box1">
    <h2>Sign Up</h2>
    <form style="float: left; margin: 3%">
        <p>First Name(s):</p>
        <input class="text-input1" type="text">
        <p>Surname:</p>
        <input class="text-input1" type="text">
        <p>Email Address:</p>
        <input class="text-input1" type="text">
    </form>
    <form style="float: left; margin: 3%">
        <p>Phone Number:</p>
        <input class="text-input1" type="text">
        <p>Password:</p>
        <input class="text-input1" type="password">
        <p>Password:</p>
        <input class="text-input1" type="password">
    </form>
    <br>
    <button class="button1" style="width:250px">Return To Login</button>
    <button class="button1" style="width:250px">Create Account</button>
</div>
</body>
</html>