<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>Sign In</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Team Roadmap - Waste Management</h1>
    <img th:src="@{images/roadmap_logo.png}" alt="Team Roadmap Logo" class="header-img"/>
</div>
<div class="box1-parent">
    <div class="box1">
        <h2>Our Mission</h2>
        <ul>
            <li style="margin-bottom: 10px">As of 2025, only 7% of all food surplus in the UK within the manufacturing and retail sectors is redistributed, however, 67% of all food waste in the UK has been found to be edible.</li>
            <li>We seek to provide a way to minimize food waste in the South-West, by allowing businesses to sell discounted bundles of excess food to customers before their expiry date, and to allow them to predict future stock needs and minimise food waste in the industry.</li>
        </ul>
    </div>
    <div class="box1">
        <div class="grid-2-columns">
            <h2 style="grid-column: span 2">Sign Up or Login</h2>
            <form th:action="@{/sign_in}" method="post" autocomplete="off">
                <label for="username">Username</label>
                <input class="text-input1" type="text" id="username" name="username">
                <label for="password">Password</label>
                <input class="text-input1" type="password" id="password" name="password">
                <button type="submit" class="button1" style="grid-column: span 2">Login</button>
            </form>
            <form th:action="@{/sign_up_consumer}">
            <button class="button1" style="width:250px">Create Customer Account</button>
            </form>
            <form th:action="@{/sign_up_seller}">
                <button class="button1" style="width:250px">Create Seller Account</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>