<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>ToS</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Terms of Service</h1>
    <img src="../static/roadmap_logo.png" alt="Team Roadmap Logo" class="header-img">
</div>
<div class="box1" style="width: 90%">
    <h1>Terms of service</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis felis purus, ut tincidunt elit condimentum non.</p>
    <form th:action="@{/sign_up_seller}">
        <button class="button1" style="width:250px">Return To Sign Up</button>
    </form>
</div>
</body>
</html>