<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>ToS</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">Terms of Service</h1>
    <img th:src="@{images/roadmap_logo.png}" alt="Team Roadmap Logo" class="header-img">
</div>
<div class="box1" style="width: 90%">
    <h1>Terms of service (Seller)</h1>

    <form th:action="@{/sign_up_seller}">
        <button class="button1" style="width:250px">Return To Sign Up</button>
    </form>

    <p>These terms and conditions (the "Terms and Conditions") govern the use of Team Roadmap - Waste Management. By using this Site, you indicate that you have read and understand these Terms and Conditions and agree to abide by them at all times.</p>
    <p>Please note that this Site has been created for a university group project, and that us, the website owners do not accept any responsibility for real-life use of this Site. It is assumed that any use of our Site is for testing or marking purposes, and that no real goods will be exchanged. </p>

    <h3>Intellectual Property</h3>
    <p>All content published and made available on our Site is the property of Team Roadmap and the Site's creators. This includes, but is not limited to images, text, logos, documents, downloadable files and anything that contributes to the composition of our Site.</p>

    <h3>Acceptable Use</h3>
    <p>As a user of our Site, you agree to use our Site legally, not to use our Site for illegal purposes, and not to:</p>
    <ol>
        <li>Harass or mistreat other users of our Site;</li>
        <li>Violate the rights of other users of our Site; </li>
        <li>Hack into the account of another user of the Site; </li>
        <li>Act in any way that could be considered fraudulent; or</li>
        <li>Post any material that may be deemed inappropriate or offensive.</li>
    </ol>
    <p>If we believe you are using our Site illegally or in a manner that violates these Terms and Conditions, we reserve the right to limit, suspend or terminate your access to our Site. We also reserve the right to take any legal steps necessary to prevent you from accessing our Site.<p>

    <h3>Seller Contributions</h3>
    <p>Sellers may post the following information on our Site:</p>
    <ul><li>Bundles for sale.</li></ul>
    <p>When you post bundles on our Site, you agree to always include the relevant and correct allergy information and ensure that the bundles are safe to consume to the best of your knowledge.</p>
    <p>We agree to not represent bundles as safe to eat without disclaimers and include a clear 'consume at your own risk' notice</p>

    <h3>Accounts</h3>
    <p>When you create an account on our Site, you agree to the following:</p>
    <ul>
        <li>You must be 16 years old or over to use our Site; and,</li>
        <li>You are solely responsible for your account and the security and privacy of your account, including passwords or sensitive information attached to that account</li>
    </ul>
    <p>We reserve the right to suspend or terminate your account if you are using our Site illegally or if you violate these Terms and Conditions.</p>

    <h3>Limitation of Liability</h3>
    <p>Team Roadmap and our directors, officers, agents, employees, subsidiaries, and affiliates will not be liable for any actions, claims, losses, damages, liabilities and expenses including legal fees from your use of the Site.</p>

    <h3>Severability</h3>
    <p>These Terms and Conditions are governed by the laws of the Country of England. If at any time any of the provisions set forth in these Terms and Conditions are found to be inconsistent or invalid under applicable laws, those provisions will be deemed void and will be removed from these Terms and Conditions. All other provisions will not be affected by the removal and the rest of these Terms and Conditions will still be considered valid.</p>

    <h3>Changes</h3>
    <p>These Terms and Conditions may be amended from time to time in order to maintain compliance with the law and to reflect any changes to the way we operate our Site and the way we expect users to behave on our Site.</p>
</div>
</body>
</html>