<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>View Analytics</title>
</head>
<body>
<div class="header">
    <h1 class="header-text">View Analytics</h1>
    <div class="header-images">
        <form th:action="@{/dashboard_consumer}"><input class="header-icons" type="image" th:src="@{images/home.png}" src="/static/images/home.png" alt="Home"></form>
        <form th:action="@{/notifications_consumer}"><input class="header-icons" type="image" th:src="@{images/bell.png}" src="/static/images/bell.png" alt="Bell"></form>
        <form th:action="@{/logout}" method="post"><input class="header-icons" type="image" th:src="@{images/logout.png}" src="/static/images/logout.png" alt="logout"></form>
        <img th:src="@{images/roadmap_logo.png}" src="/static/images/roadmap_logo.png" alt="Team Roadmap Logo" class="header-logo">
    </div>
</div>
<div class="box1">
    <label for="anTable">Analytics Table:</label>
    <div class="analytics-table" id="anTable" style="padding: 1%">
        <div>My Streak</div>
        <div>Bundles Collected</div>
        <div>CO2e Saved</div>
        <div>Badges Collected</div>
        <div style="font-size: 8vmax; background-color: #4a6fa5" th:text="${streak}">-1</div>
        <div style="font-size: 8vmax; background-color: #4a6fa5" th:text="${collected}">-1</div>
        <div style="font-size: 8vmax; background-color: #4a6fa5" th:text="${co2_save}">-1</div>
        <div style="font-size: 8vmax; background-color: #4a6fa5" th:text="${no_badges}">-1</div>
    </div>
</div>

<div class="box1">
    <label for="badgeTable">Badge Table:</label>
    <div class="badges-table" id="badgeTable">
        <img th:src="@{images/Star.png}" alt="Star" style="width: 10%; height: auto; padding: 2%">
        <img th:src="@{images/Star.png}" alt="Star" style="width: 10%; height: auto; padding: 2%">
        <img th:src="@{images/Star.png}" alt="Star" style="width: 10%; height: auto; padding: 2%">
        <img th:src="@{images/Star.png}" alt="Star" style="width: 10%; height: auto; padding: 2%">
        <img th:src="@{images/Star.png}" alt="Star" style="width: 10%; height: auto; padding: 2%">
        <img th:src="@{images/Star.png}" alt="Star" style="width: 10%; height: auto; padding: 2%">
        <img th:src="@{images/Star.png}" alt="Star" style="width: 10%; height: auto; padding: 2%">
    </div>

</div>
<form th:action="@{/dashboard_consumer}">
    <button class="button1" style="width:250px; margin-left: 5%">Return To Dashboard</button>
</form>
</body>
</html>