<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="../static/styling.css" th:href="@{/styling.css}">
    <title>View Analytics</title>
</head>
<body>
<div class="header" style="background: #dbe9ee; ">
    <h1 class="header-text" style="color: #4a6fa5;">View Analytics</h1>
    <img src="../static/roadmap_logo.png" alt="Team Roadmap Logo" class="header-img">
</div>
<div class="container" style="padding-left: 2%; padding-right: 2%; padding-top: 2%">
    <div>My Streak</div>
    <div>Bundles Collected</div>
    <div>CO2 Saved</div>
    <div>Badges Collected</div>
    <div style="font-size: 15vmax; background-color: #4a6fa5">
        <img src="../static/Star.png" alt="Star" style="width: 100%">
    </div>
    <div style="font-size: 15vmax; background-color: #4a6fa5">67</div>
    <div style="font-size: 15vmax; background-color: #4a6fa5">3</div>
    <div style="font-size: 15vmax; background-color: #4a6fa5">2/8</div>
</div>
</body>
</html>